body{
    background-color: cornsilk;
}
article{
    text-align: center;
}
article h3{
    font-family: myFirstFont;
    color: cornflowerblue;

}

img{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

#mySimpleParg{
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
    color: rgb(220, 20, 60);
}


#myFonts{
    margin-top: 25px;
    background-color: #fff875;
    font-family: 'Times New Roman', serif;
}


a {
    text-decoration: none;
    color: darkgray;

}

a:hover{

    color: green;
  }

  div table, th, td {
    border: 1px solid black;
    text-align: center;
  }



  footer{
      margin-top: 50px;
      padding-top: 30px;
      text-align: center;
    clear : both;
    color: #fff;
    height: 100px;
    background: #444;
}